Source: ros-rolling-lanelet2-traffic-rules
Section: misc
Priority: optional
Maintainer: Fabian Poggenhans <fabian.poggenhans@kit.edu>
Build-Depends: debhelper (>= 9.0.0), libgtest-dev, ros-rolling-ament-cmake-core, ros-rolling-lanelet2-core, ros-rolling-mrt-cmake-modules, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-lanelet2-traffic-rules
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-lanelet2-core, ros-rolling-mrt-cmake-modules, ros-rolling-ros-workspace
Description: Package for interpreting traffic rules in a lanelet map
