Source: ros-foxy-lanelet2-projection
Section: misc
Priority: optional
Maintainer: Jan-Hendrik Pauls <jan-hendrik.pauls@kit.edu>
Build-Depends: debhelper (>= 9.0.0), libgeographic-dev, libgtest-dev, ros-foxy-ament-cmake-core, ros-foxy-lanelet2-io, ros-foxy-mrt-cmake-modules, ros-foxy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-foxy-lanelet2-projection
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgeographic-dev, ros-foxy-lanelet2-io, ros-foxy-mrt-cmake-modules, ros-foxy-ros-workspace
Description: Lanelet2 projection library for lat/lon to local x/y conversion
